[submodule "bundle/Vim-Jinja2-Syntax"]
	path = bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-systemd-syntax"]
	path = bundle/vim-systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
[submodule "bundle/Dockerfile.vim"]
	path = bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
